@page "/json"
@inject HttpClient Http

<PageTitle>Läsa JSON</PageTitle>

<h3>Json</h3>
<h4>Lista över Anställda i Låtsasföretaget AB</h4>
<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Lön</th>
            <th>Ålder</th>
        </tr>
    </thead>
    <tbody>
        @{
            if(employee != null) { //Kolla så employee inte är null
            @foreach (var e in employee) //Loopa igenom alla anställda & skriv ut dessa i tabellen
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Salary</td>
                    <td>@e.Age</td>
                </tr>
            }
        }
        }

    </tbody>
</table>


@code {
    private string url = "jsonData/employees.json";
    private Employee[]? employee;



    protected override async Task OnInitializedAsync()
    {
        employee = await Http.GetFromJsonAsync<Employee[]>("jsonData/employees.json");
    }

    public class Employee {
        public string? Name { get; set; }
        public double? Salary { get; set; }
        public int? Age { get; set; }
    }
}
