@page "/json"
@inject HttpClient Http

<PageTitle>Läsa JSON</PageTitle>

<h3>Json</h3>

@code {
	public string url = "https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/btc.json";


}
