@inherits LayoutComponentBase
<header>
    <img src="" alt="Blazor-app logotyp"/>
</header>
    <div class="container padding-16">
        <NavMenu />
    </div>

    <main class="padding-16">
        @Body
    </main>

    <footer>
        <p>Av: Marcus Andersson, 2023</p>
    </footer>