<div class="marcusKomponent">
    <h3>@Title</h3>
    <p>Hej! jag är en komponent med titeln: @Title. Jag är lite <i>speciell</i> eftersom jag har komponentspecifik CSS.</p>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
