<nav class="padding-16">
    <NavLink href="" Match="NavLinkMatch.All">Start</NavLink>
    <NavLink href="json">Json</NavLink>
    <NavLink href="konvertering">Konvertering</NavLink>
</nav>

@code {

}
